* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Kufi Arabic", sans-serif;
    direction: rtl;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --main-color: #1400ff;
    --aqua-color: #57b6f6;
    --main-dark: #180d8d;
    --sec-color: #1712e2;
    --thd-color: #3532b4;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #414141;
    --gray2-color: #c9c9c9;
    --gray-week: #ababab50;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.clm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    row-gap: 20px;
    column-gap: 30px;
}

.btn {
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to right, var(--sec-color),var(--thd-color));
    color: var(--white-color);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    transition: .3s;
    cursor: pointer;
}

.active {
    background-color: var(--gray-week) !important;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-image: linear-gradient(to right, var(--sec-color),var(--main-dark));
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    box-shadow: 0 0 10px 1px var(--main-color);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.display {
    display: flex;
}

.width {
    width: 280px !important;
}

.top:hover {
    transform: scale(1.08);
}

@media (max-width: 860px) {
    .top {
        display: none !important;
    }
}

.logo {
    gap: 10px;
}

.logo img {
    width: 30px;
}

.logo h1 {
    font-size: 30px;
    color: var(--white-color);
}

.logo h1 span {
    color: var(--aqua-color);
}

/* side start */

.main {
    height: 100vh;
    background-color: var(--white-color);
    gap: 0;
    overflow: hidden;
}

aside {
    height: 100%;
    width: 60px;
    padding: 10px;
    justify-content: space-between !important;
    transition: .5s;
    background-image: linear-gradient(110deg , var(--main-dark),var(--thd-color) 60%, var(--main-dark));
}

aside .main-content {
    width: 100%;
}

aside header {
    width: 100%;
    justify-content: space-between !important;
    margin-bottom: 20px;
}

aside header button {
    width: 30px;
    height: 30px;
    font-size: 23px;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
}

aside .links {
    width: 100%;
}

aside .links .link {
    padding: 2px 10px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 20px;
    font-size: 15px;
    color: var(--white-color);
    transition: .3s;
}

aside .links .link:hover {
    background-color: var(--gray-week);
}

aside form {
    width: 100%;
    border-radius: 20px;
}

aside form button {
    width: 100% !important;
    border-radius: inherit;
    background-color: transparent;
    background-image: none !important;
    cursor: pointer;
    transition: .3s;
}

aside form button i {
    font-size: 17px;
}

aside form button:hover {
    /* background-color: var(--gray-week); */
    background-color: #eb51518a;
}

/* content start */

.content {
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    gap: 0px;
}

.content header,
.content .patients .head {
    width: 100%;
    background-color: var(--gray-week);
    justify-content: space-between;
    padding: 5px 20px;
}

.content header h1 {
    font-size: 18px;
    color: var(--black-color);
}

.content form div {
    /* gap: 0; */
    justify-content: flex-start;
    background-color: var(--white-color);
    padding: 5px 10px;
    border-radius: 10px;
    width: 350px;
}

.content form input {
    width: 100%;
    font-size: 14px;
    color: var(--black-color);
}

.content form i {
    color: var(--black-color);
    font-size: 14px;
}

.content form button {
    width: 80px;
    height: 35px;
    cursor: pointer;
}

.content header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content .patients {
    padding: 20px;
    width: 100%;
    gap: 0;
    height: 100%;
}

.content .patients .head {
    border-radius: 10px 10px 0 0;
}

.content .patients .head h1 {
    font-size: 18px;
    color: var(--black-color);
} 

.content .patients .head img {
    width: 40px; 
}

.content .patients .table {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    background-color: var(--gray-week);
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.content .patients table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    transition: .3s;
}

.content table td {
    padding: 10px 12px;
}

.content table thead {
    background-color: var(--gray2-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
}

.content table thead td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table thead td:first-child {
    border-radius: 0px 15px 15px 0px;
}

.content table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-color);
    transition: .3s;
}

.content table tbody {
    font-size: 15px;
    color: var(--gray-color);
}

.content table tbody tr:hover {
    background-color: var(--gray-week);
}

.content table tbody td:last-child {
    border-radius: 15px 0 0 15px;
}

.content table tbody td:first-child {
    border-radius: 0px 15px 15px 0px;
}

/* treatment start */

.content .treatment {
    padding: 20px;
    width: 100%;
    gap: 5px;
    height: 100%;
    /* background-color: #1400ff; */
}

.content .treatment .t-details {
    width: 100%;
    height: 100%;
    background-color: #c8c8c856;
    border-radius: 10px;
}

.content .treatment .t-details header {
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 3px solid var(--black-color);
    padding: 0 0 0px 0;
}

.content .treatment .t-details .dr-details {
    justify-content: space-between;
    width: 646px;
}

.content .treatment .t-details .dr-details img {
    width: 120px;
    height: 170px;
}

.content .treatment .t-details .dr-name {
    width: 450px;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    color: var(--white-color);
    background-image: linear-gradient(to right , var(--main-dark), var(--sec-color));
    padding: 5px 30px;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.content .treatment .t-details .dr-name::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    left: -35.5%;
    top: 0;
    border: 80px solid var(--main-dark);
    border-color: transparent var(--main-dark) transparent transparent;
}

.content .treatment .t-details .dr-name h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: -7px;
}

.content .treatment .t-details .dr-name h1 {
    font-size: 30px;
    color: var(--white-color);
    margin-bottom: -7px;
}

.content .treatment .t-details .dr-name p {
    font-size: 17px;
    text-align: center;
    font-weight: 200;
}

.content .treatment .t-details form {
    gap: 0;
}

.content .treatment .t-details form input {
    width: 200px;
    background-color: transparent;
    font-size: 17px;
    color: var(--black-color);
    font-weight: 500;
}

.content .treatment .t-details form h1 {
    font-size: 18px;
    color: var(--black-color);
}

.content .treatment .t-details form div {
    width: 300px;
    background-color: transparent;
    gap: 5px;
    padding: 1px;
}

.content .treatment .t-details .body {
    width: 100%;
    padding: 10px;
    gap: 0;
}

.content .treatment .t-details .body h1 {
    font-size: 23px;
    color: var(--black-color);
    margin: -10px 0 -5px;
}

.content .treatment .t-details .body textarea {
    width: 100%;
    background-color: transparent;
    font-size: 17px;
    color: var(--black-color);
    font-weight: 400;
    height: 300px;
    border-bottom: 2px solid var(--black-color);
}

.content .treatment .t-details footer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content .treatment .t-details footer .location {
    font-size: 10px;
    color: var(--black-color);
    width: 50%;
    /* background-color: #1400ff; */
}

.content .treatment .t-details footer .location i {
    font-size: 14px;
}

.content .treatment .t-details footer .location div:nth-of-type(2) {
    justify-content: space-between;
    width: 100%;
}

.content .treatment footer .location div:nth-of-type(2) h1:first-child {
    color: red;
}

.content .treatment footer .location div:nth-of-type(2) h1:last-child {
    color: var(--sec-color);
}

.content .treatment .t-details footer .contact {
    width: 25%;
    justify-content: space-between;
}

.content .treatment .t-details footer .contact img {
    width: 40px;
}

.content .treatment .t-details footer .contact div h1 {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
}

.content .treatment .t-details footer .contact div i {
    color: var(--black-color);
}